<div class="container">
    <div class="row mt-4">
        <label class="mb-3">Primary button types</label>
        <div class="col">
            <button type="button"  class="btn btn-primary">Primary</button>
        </div>
        <div class="col">
            <button type="button"  class="btn btn-secondary">Secondary</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success">Success</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger">Danger</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-warning">Warning</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-info">Info</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-light">Light</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-dark">Dark</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-link">Link</button>        
        </div>
    </div>
    <div class="row mt-4">
        <label class="mb-3">Outline button types</label>
        <div class="col">
            <button type="button"  class="btn btn-outline-primary">Primary</button>
        </div>
        <div class="col">
            <button type="button"  class="btn btn-outline-secondary">Secondary</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger">Danger</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-warning">Warning</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-info">Info</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-light">Light</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-dark">Dark</button>        
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-link">Link</button>        
        </div>
    </div>
    <div class="row mt-4">
        <label class="mb-3">Different button types</label>
    <div class="col-2">
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn-close" aria-label="Close"></button>
        <!-- <button type="button" class="btn-close btn-close-white" aria-label="Close"></button> -->
    </div>
    <div class="col-3">
        <div class="btn-group" role="group" aria-label="Basic button group">
            <button type="button" class="btn btn-primary">Left</button>
            <button type="button" class="btn btn-primary">Middle</button>
            <button type="button" class="btn btn-primary">Right</button>
        </div>
    </div>
    <div class="col-2">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-primary">Button</button>
        <button type="button" class="btn btn-primary">Button</button>
        <button type="button" class="btn btn-primary">Button</button>
      </div>
    </div>
    <div class="col-2">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="button" autocomplete="off">Toggle button</button>
</div>
</div>
</div>
