<div class="container">
    <div class="row mt-4">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="navigateButton()">Navigat to Buttons</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="navigateQRGen()">Navigat to QR Generator</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="navigateAccordian()">Navigat to Accordian</button>
        </div>
        <!-- <div class="col">
            <button type="button" class="btn btn-primary" (click)="navigateAccordian()">Navigat to Input Boxes</button>
        </div> -->
    </div>
</div>